h1{
    text-align: center;
    color: black;
    border-radius: 30px;
    background-color: grey;
}
p{
    position: relative;
    left: 50px;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: grey;
    border-radius: 40px;
}



.money{
    width: 130px;
    height: 50px;
}

body{
    background-color: black;
    margin: 0;
}
p{
    color: black;
    background-color: gray;
    border-radius: 30px;
}
main{
    font-size: 20px;
    text-align: center;
}
footer{
    display: flex;
    color: black;
    background-color: gray;
    border-radius: 30px;
    height: 70px;
}
footer img{
    height: 70px;
}





